

.container{ 
    width:85%; 
    max-width:90%; 
    margin:0 auto; 
}

main{ 
    height:20rem;
    background-color: #000000;
    color:white
    
}
main::after{ 
    content: ''; 
    height:100%; 
    width:100%; 
    left:0; 
    background: url(../img/mainbg.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top:0; 
    opacity:.3;
    
    
    
}

/* media queries */

@media screen and (max-width:640px){ 
    .container{ 
        width:90%;
    }
}